
.carousel-item img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: center;
}


/* ::content{

object-fit: cover;
object-position: center;

} */

.dp{
    display: flex;
    gap: 5px;
}
